<!-- Log-in-form-start -->
<img class="wave" src="../assets/wave.png" alt="wave" />
<div class="container">
  <div class="img">
    <img src="../assets/bg.svg" alt="bg-image" />
  </div>
  <div class="login-content">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <h2 class="title">Reset Password</h2>
      <p class="titletext">
        input your phone number and we'll send an OTP to reset your password
      </p>
      <div class="input-div one">
        <div class="i">
          <i class="bi bi-telephone"></i>
        </div>
        <div class="div">
          <input
            type="number"
            placeholder="Enter only number"
            class="input"
            formControlName="phoneNumber"
            pattern="[0-9]"
          />
        </div>
      </div>

      <input type="submit" class="btn" value="Continue" />

      <div class="register">
        Don't have an Account please<a
          routerLink="/reg"
          routerLinkActive="active"
          class="linkreg"
          >Register</a
        >
      </div>
    </form>
  </div>
</div>
<!-- Login form end -->
